<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Party-Up</title>
</head>
<body>
    <div class="head-container">
        <header>
            <div class="logo">Party-Up</div>

            <nav>
                <a href="#" class="button">Login</a>
                <a href="#" class="button">Sign Up</a>
            </nav>
        </header>
    </div>
    <div class="carousel-container">
        <div class="carousel">
            
        </div>
    </div>
    <div class="about-container">
        <div class="about">
            
        </div>
    </div>
    <div class="foot-container">
        <footer>
            <div class="copyright">&copyParty-Up</div>
            <span class="disclaimer">None of the images and games on this site 
            are the property of Party-Up.com</span>
        </footer>
    </div>
</body>
</html>