<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Party-Up</title>
    <link rel="stylesheet" href="my_assets/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Play:400,700|Orbitron:400,500,700,900' 
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
</head>
<body>
    <div class="head-container">
        <header>
            <nav>
                <a href="#" class="logo">Party-Up</a>
                <div>    
                    <a href="#" class="button">Login</a>
                    <a href="#" class="button">Sign Up</a>
                </div>
            </nav>
        </header>
    </div>
    <div class="list-container">
        <main>
            <div class="media-object">
                <div class="graphic">
                    
                </div>
                <div class="content">
                    This is the content for the media objects that represent the
                    list items that users post to tell eachother that they are 
                    playing a certain game.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                </div>
            </div>
            <div class="media-object">
                <div class="graphic">
                    
                </div>
                <div class="content">
                    This is the content for the media objects that represent the
                    list items that users post to tell eachother that they are 
                    playing a certain game.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                </div>
            </div>
            <div class="media-object">
                <div class="graphic">
                    
                </div>
                <div class="content">
                    This is the content for the media objects that represent the
                    list items that users post to tell eachother that they are 
                    playing a certain game.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                </div>
            </div>
            <div class="media-object">
                <div class="graphic">
                    
                </div>
                <div class="content">
                    This is the content for the media objects that represent the
                    list items that users post to tell eachother that they are 
                    playing a certain game.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                </div>
            </div>
            <div class="media-object">
                <div class="graphic">
                    
                </div>
                <div class="content">
                    This is the content for the media objects that represent the
                    list items that users post to tell eachother that they are 
                    playing a certain game.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                </div>
            </div>
            <div class="media-object">
                <div class="graphic">
                    
                </div>
                <div class="content">
                    This is the content for the media objects that represent the
                    list items that users post to tell eachother that they are 
                    playing a certain game.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                </div>
            </div>
            <div class="media-object">
                <div class="graphic">
                    
                </div>
                <div class="content">
                    This is the content for the media objects that represent the
                    list items that users post to tell eachother that they are 
                    playing a certain game.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur temporibus 
                    sed consequuntur, amet optio quasi aliquam qui quam, architecto saepe 
                    exercitationem quia consectetur soluta at doloremque illo vero ex, quisquam.
                </div>
            </div>
        </main>
    </div>



    <div class="foot-container">
        <footer>
            <div class="copyright">&copyParty-Up</div>
            <div class="contact">Contact us at 1-800-000-0000</div>
            <span class="disclaimer">None of the images and games on this site 
            are the property of Party-Up.com</span>
        </footer>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/slick/dist/slick.js"></script>
    <script src="my_assets/js/slick.js"></script>
    <script src="my_assets/js/main.js"></script>
</body>
</html>