<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Party-Up</title>
    <link rel="stylesheet" href="my_assets/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Play:400,700|Orbitron:400,500,700,900' 
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">

</head>
<body>
    <div class="head-container">
        <header>
            <nav>
                <a href="#" class="logo">Party-Up</a>
                <div>    
                    <a href="#" class="button">Login</a>
                    <a href="#" class="button">Sign Up</a>
                </div>
            </nav>
        </header>
    </div>
    <div class="content-container">
        <main class="user">
            <div class="profile-img">
                <img src="" alt="">
            </div>
            <div class="about-me">
                <h1>Welcome <i>Username</i></h1>
                
                <div>Email: bryan@gmail.com</div>
                <div>Date of Birth: 10/28/1995</div>
                <div>Region: USA</div>
                <div>Play Style: Casual</div>
                <div class="bio">
                    Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum 
                    architecto, tenetur ullam saepe, perspiciatis sint similique, voluptatum eos
                    quaerat eaque eveniet quam, quibusdam nulla vel repellendus quod tempora?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum 
                    architecto, tenetur ullam saepe, perspiciatis sint similique, voluptatum eos  
                    quaerat eaque eveniet quam, quibusdam nulla vel repellendus quod tempora?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum 
                    architecto, tenetur ullam saepe, perspiciatis sint similique, voluptatum eos 
                    quaerat eaque eveniet quam, quibusdam nulla vel repellendus quod tempora?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum 
                    architecto, tenetur ullam saepe, perspiciatis sint similique, voluptatum eos  
                    quaerat eaque eveniet quam, quibusdam nulla vel repellendus quod tempora?
                </div>
            </div>
        </main>
    </div>

        
    <div class="foot-container">
        <footer>
            <div class="copyright">&copyParty-Up</div>
            <div class="contact">Contact us at 1-800-000-0000</div>
            <span class="disclaimer">None of the images and games on this site 
            are the property of Party-Up.com</span>
        </footer>
    </div>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/slick/dist/slick.js"></script>
    <script src="my_assets/js/slick.js"></script>
    <script src="my_assets/js/main.js"></script>
</body>
</html>