html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: "Play";
    font-weight: 400;
}
a.button {
    font-family: 'Play', 'Arial', 'Serif';
    font-weight: 400;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: .5em;
    background-color: red;
}
button {
    font-family: 'Play', 'Arial', 'Serif';
    font-weight: 400;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    border: 0px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: .5em;
    background-color: #E35C44;
}
div.head-container {
    background-color: #212121;
    width: 100%;
    height: 70px;
}
div.head-container header {
    margin: 0 auto;
    height: 100px;
    width: 80%;
}
div.head-container header nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.head-container header nav .logo {
    margin-bottom: .55em;
    font-family: 'Orbitron', 'Arial', 'Serif';
    font-weight: 900;
    font-size: 3.5em;
    color: white;
    text-decoration: none;
}
div.head-container header nav span {
    font-size: 1.7em;
    font-weight: 600;
    color: #E25C43;
}
div.head-container header nav a {
    display: inline-block;
    margin-bottom: 1.7em;
    color: white;
    background-color: #212121;
    border: 0 solid #212121;
}
div.foot-container {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.foot-container footer {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: white;
    bottom: 0;
}
div.foot-container footer .copyright {
    margin-right: 20px;
    margin-bottom: 10px;
}
div.foot-container footer .contact {
    position: absolute;
    right: 10px;
    top: 17px;
}
div.foot-container footer .disclaimer {
    font-size: .6em;
    position: absolute;
    left: 2px;
    bottom: 2px;
}
div.carousel-container {
    height: 450px;
    width: 100%;
    background-color: #323544;
}
div.carousel-container .carousel {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/gaming.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div.carousel-container h1 {
    margin: 0;
    text-align: center;
    /*color: white;*/
}
div.carousel-container .carousel-content {
    /*color: white;*/
}
div.carousel-container .carousel-content > * {
    display: block;
    margin: 15px;
}
div.carousel-container div.buttons {
    text-align: center;
}
div.carousel-container div.buttons .button {
    margin-top: 10em;
    color: white;
    background-color: #E35C44;
    border: 0;
}
.about-container {
    width: 100%;
    background-color: #525567;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 400px;
    border: 4px solid black;
}
.about-container .about {
    width: 80%;
    color: white;
    background-color: #525567;
}
.about-container .about .content-container {
    display: flex;
    flex-direction: row;
    background-color: #525567;
}
.about-container .about .content-container .content {
    flex: 1;
    position: relative;
}
.about-container .about .content-container .content p {
    position: absolute;
    top: 40px;
    left: 50px;
    right: 50px;
    background-color: #525567;
}
.about-container .about .content-container .images {
    display: flex;
    flex-direction: column;
}
.about-container .about .content-container .images img {
    width: 200px;
    height: 150px;
    background-image: url("../Images/borderlands.jpeg");
    background-size: cover;
}
.about-container h1 {
    background-color: #525567;
    display: block;
    margin-top: 30px;
}
.list-container {
    min-height: 300px;
    width: 100%;
    color: white;
    background-color: #383544;
    overflow: hidden;
}
.list-container h1 {
    margin-left: 80px;
}
.list-container main {
    width: 80%;
    margin: auto;
}
.list-container .media-object {
    margin: 10px 0px;
    border: 1px solid black;
}
.list-container .media-object .graphic {
    background-image: url("../Images/octocat.jpeg");
    background-size: cover;
    height: 100px;
    width: 100px;
    float: left;
}
.list-container .media-object .content {
    margin-left: 105px;
    min-height: 100px;
}
.content-container {
    display: flex;
    justify-content: center;
    background-color: #383544;
    min-height: 600px;
}
.content-container .user {
    width: 80%;
    position: relative;
    overflow: hidden;
    color: white;
}
.content-container .user .profile-img {
    height: 200px;
    width: 200px;
    float: left;
    background-image: url("../Images/octocat.jpeg");
    background-size: cover;
}
.content-container .user .about-me {
    margin: 20px 20px 20px 215px;
    display: block;
}
.content-container .user .about-me div.bio {
    display: block;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.content-container .user .about-me h1 span {
    color: #E25C43;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383544;
    color: white;
}
.form-container div.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 585px;
}
.form-container h1 {
    text-align: center;
}
form {
    text-align: justify;
    border: 1px solid white;
    padding: 50px;
    margin: 0 350px;
}
form select {
    margin-left: 20px;
}
form.edit-user input,
form.edit-user textarea {
    color: black;
}
form.form-horizontal input {
    color: black;
}
.form-container.search {
    min-height: 585px;
}
.search-result {
    color: white;
    min-height: 585px;
}
.search-result .label {
    font-weight: 600;
}