div.carousel-container {
    height: 450px;
    width: 100%;
    background-color: #323544;
    // position: relative;

    .carousel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('destiny.jpg');
    background-size: cover;
    }
    
    h1 {
        margin: 0;
        text-align: center;
        color: white;
    }
    .carousel-content { 
        // background-color: cyan;   
        color: white;
            > * {
                display: block;
                margin: 15px;
            }
    }

    div.buttons {
        text-align: center;

        .button {
            margin-top: 10em;
            color: white;
            background-color: #323544;
            // border: 0 solid #323544;
            border-color: white;
        }
    }
}