div.foot-container {
    background-color: purple;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    footer {
        width: 80%;
        height: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        background: white;
        bottom: 0;

        .copyright {
            margin-right: 20px;

        }

        .contact {
            position: absolute;
            right: 10px;
            top: 18px;
        }

        .disclaimer {
            font-size: .6em;
            position: absolute;
            left: 2px;
            bottom: 2px;
        }
    }
}
