.list-container {
    min-height: 300px;
    width: 100%;
    background-color: #383544;
    overflow: hidden;

    main {
        width: 80%;
        margin: auto;
        // background-color: orange;

        // > * + * {
        //     margin: 10px 0px;
        // }
    }

    .media-object {
        // background-color: blue;
        // overflow: hidden;
        margin: 10px 0px;
        border: 1px solid black;
        color: white;
    
        .graphic {
            background-image: url('octocat.jpeg');
            background-size: cover;
            height: 100px;
            width: 100px;
            float: left;
        }

        .content {
            // background-color: red;
            margin-left: 105px;
            min-height: 100px;

        }
    }

}