html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Play";
    font-weight: 400;
}

@import 'button';
@import 'header';
@import 'footer';
@import 'carousel';
@import 'about';
@import 'list';
@import 'user';